header, footer {
  color: #ce6c7b;
  background-image: url("/pictures/food.png"); }

header title {
  color: #ce6c7b; }

#bind-logo-red {
  width: 40px;
  height: 40px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: inline; }

#image-display-area {
  width: 100%;
  height: 500px;
  border: 5px solid #ce6c7b;
  background-color: url("/pictures/Bind-logo-black.png"); }
  #image-display-area img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }

#function-button-area, #save-upload-buttons {
  margin: 20px;
  -moz-border-radius: 15px;
  border-radius: 15px; }
  #function-button-area li, #save-upload-buttons li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    color: white; }

#function-button-area {
  background: #ce6c7b; }
  #function-button-area button {
    padding: 10px;
    background: #ce6c7b;
    -moz-border-radius: 15px;
    border-radius: 15px; }

#save-upload-buttons button {
  padding: 10px;
  background: #c09c41;
  -moz-border-radius: 15px;
  border-radius: 15px; }
