$main-color: #ce6c7b; //#c5526d; //#1F535C; //green

header, footer {
  color: $main-color;
  background-image: url('/pictures/food.png');
}


#image-display-area {
  width: 100%; 
  height: 500px; 
  border: 5px solid $main-color; 
  background-color: $main-color;

  img {
  	max-height: 100%; 
  	max-width: 100%;
  	display: block; 
  	margin-left: auto; 
  	margin-right: auto;
  }
}



#function-button-area {
  padding-top: 20px;
  li {
    list-style-type: none;
    display: block;
    padding: 10px;
    background: $main-color;
    color: white; 
  }
  
}