$main-color: #ce6c7b; //#c5526d; //#1F535C; //green
$alternative-color: #fac564;
$main-text-font: 'Just Another Hand', Helvetica, sans-serif;

@media all and (max-width: 1200px) { /* screen size until 1200px */
  body {
      font-size: 1.5em; /* 1.5x default size */
  }
}

@media all and (max-width: 1000px) { /* screen size until 1000px */
  body {
      font-size: 1.2em; /* 1.2x default size */
      }
}

@media all and (max-width: 500px) { /* screen size until 500px */
  body {
      font-size: 0.8em; /* 0.8x default size */
      }
}

header, footer {
  color: $main-color;
  background-image: url('/pictures/food.png');
}

header {
  title {
    color: $main-color;
  }

}


#bind-logo-red {
  width: 40px;
  height: 40px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: inline;
}

#image-display-area {
  width: 100%; 
  height: 500px; 
  //border: 5px solid $main-color; 
  background-color: url('/pictures/Bind-logo-black.png') ;
  
   
  img {
  	max-height: 100%; 
  	max-width: 100%;
  	display: block; 
  	margin-left: auto; 
  	margin-right: auto;
    position: relative;
  }
}

#edit-button {

  font-size: 25px;
  color: white;
  background: $main-color;
  padding: 5px;
  margin: 5px;
  -moz-border-radius: 15px;
  border-radius: 15px;
    
  
}


#function-button-area, #save-upload-buttons  {

  margin: 20px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  

  li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    color: white; 
    
  }

  
}
#function-button-area {

  button {
   
    padding: 10px;
    background: $main-color;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }

}
#save-upload-buttons  {
  button {
   
    padding: 10px;
    background: $alternative-color;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }
}
